In [1]:
import pandas as pd

In [2]:
dataframe = pd.read_csv('Relação 1° ano camisa dos jogos - Página1.csv')
dataframe

,Alunos,Número,Turma,Grupamento,Vai querer camisa?,Vai querer short?,Tamanho da camisa,Tamanho do short,Número da camisa,Nome na camisa,Pago
0,Heloísa Espínola,5873,101,A,Sim,Sim,P,P,17,Heloísa,Não
1,Vitório,6143,101,A,Sim,Não,P,NaN,11,Vitório,Não
2,Steinborn,6259,101,A,NaN,NaN,NaN,NaN,NaN,NaN,Não
3,Barros,5480,101,A,Sim,Sim,G,NaN,87,Barros,Sim
4,Laura,5836,101,A,NaN,NaN,NaN,NaN,NaN,NaN,Não
...,...,...,...,...,...,...,...,...,...,...,...
143,Gustavo,5481,105,B,NaN,NaN,NaN,NaN,NaN,NaN,Não
144,Mayson,6532,105,B,Sim,Sim,NaN,NaN,NaN,NaN,Não
145,Laura Travassos,6559,105,B,NaN,NaN,NaN,NaN,NaN,NaN,Não
146,Guilherme Carvalho,6573,105,B,NaN,NaN,NaN,NaN,NaN,NaN,Não
147,Kenji,5453,106,C,NaN,NaN,G,NaN,666,NaN,Não

In [3]:
class tratar_dados:
    def __init__(self, df):
        self.df = df
    def get_pagantes(self):
        dados = self.df
        ja_pagaram = []
        i = 0
        for dado in dados['Pago']:
            if dado == 'Sim':
                ja_pagaram.append(dados.loc[i,'Alunos'])
            else:
                dado = 0
            i = i+1
        return ja_pagaram
    
    def get_querem_o_que(self):
        dados = self.df
        querem_camisa = []
        i = 0
        for dado in range(len(dataframe.index)):
            quer_camisa = dados.loc[i,'Vai querer camisa?'] == 'Sim'
            quer_short = dados.loc[i,'Vai querer short?'] == 'Sim'
            tamanho_camisa = dados.loc[i,'Tamanho da camisa']
            tamanho_short = dados.loc[i,'Tamanho do short']
            if pd.isnull(dataframe.loc[i, 'Tamanho do short']):
                tamanho_short = 'Não oferecido pelo aluno'
            if pd.isnull(dataframe.loc[i, 'Tamanho da camisa']):
                tamanho_camisa = 'Não oferecido pelo aluno'
            if quer_camisa and quer_short:
                querem_camisa.append([dados.loc[i,'Alunos'], 'Quer camisa tamanho {}'.format(tamanho_camisa), 'Quer short tamanho {}'.format(tamanho_short)])
            elif quer_short:
                querem_camisa.append([dados.loc[i,'Alunos'], 'Não quer camisa', 'Quer short tamanho {}'.format(tamanho_short)])
            elif quer_camisa:
                querem_camisa.append([dados.loc[i,'Alunos'], 'Quer camisa tamanho {}'.format(tamanho_camisa), 'Não quer short'])
            else:
                querem_camisa.append([dados.loc[i,'Alunos'], 'Não quer camisa', 'Não quer short'])
            i = i + 1
        return querem_camisa
    
    def alterar_valores(self, nome_do_aluno, nome_da_coluna, novo_valor):
        nome = nome_do_aluno
        coluna = nome_da_coluna
        valor = novo_valor
        df = self.df
        for i in range(len(df.index)):
            if df.loc[i, 'Alunos'] == nome_do_aluno:
                df[nome_da_coluna][i] = novo_valor
                
    def alterar_valores_gui(self):
        df = self.df
        nome = input('Qual é o nome do aluno')
        nome = nome.title()
        nmr = input('Qual é o número do aluno?')
        turma = input('Qual é a turma do aluno?')
        grupamento = input('Qual é o grupamento do aluno?')
        nfd = True
        while nfd:
            quer_camisa = input('O aluno quer camisa? s/n')
            if quer_camisa != 's' and quer_camisa != 'n':
                print('insira "s" para sim ou "n" para não')
            else:
                nfd = False
            if quer_camisa == 's':
                nome_camisa = input('Que nome deverá ser impresso na camisa?')
                print('Tamanhos: G - M - P')
                tamanho_camisa = input('Insira o tamanho da camisa: ')
                nmr_nao_foi_digitado = True
                while nmr_nao_foi_digitado:
                    nmr_camisa = input('Qual é o número da camisa deste aluno?')
                    if nmr_camisa.isnumeric() == False:
                        print('Insira um número!')
                    else:
                        nmr_nao_foi_digitado = False
        nfdx = True
        while nfdx:
            quer_short = input('O aluno quer short? s/n')
            if quer_short != 's' and quer_short != 'n':
                print('insira "s" para sim ou "n" para não')
            else:
                nfdx = False
                
        if quer_short == 's':
            print('Tamanhos: G - M - P')
            tamanho_short = input('Insira o tamanho do short: ')
        ja_pagou = input('O aluno já pagou? s/n')
            
        if quer_camisa == 'n':
            nmr_camisa = 'null'
            tamanho_camisa = 'null'
            nome_camisa = 'null'
        if quer_short == 'n':
            tamanho_short = 'null'
        if quer_camisa and quer_short == 's':
            if quer_camisa == 's': quer_camisa = 'Sim' 
            else: quer_camisa = 'Não'
            if quer_short == 's': quer_short = 'Sim' 
            else: quer_short = 'Não'
            if ja_pagou == 's':
                ja_pagou = 'Sim'
            else:
                ja_pagou = 'Não'
            novos_valores = [nome, nmr, turma, grupamento, quer_camisa, quer_short, nmr_camisa, tamanho_camisa, nome_camisa, tamanho_short, ja_pagou]
            ad = tratar_dados(self.df)
            ad.alterar_valores(nome, df.columns[4], quer_camisa)
            ad.alterar_valores(nome, df.columns[5], quer_short)
            ad.alterar_valores(nome, df.columns[6], tamanho_camisa)
            ad.alterar_valores(nome, df.columns[7], tamanho_short)
            ad.alterar_valores(nome, df.columns[8], nmr_camisa)
            ad.alterar_valores(nome, df.columns[9], nome_camisa)
            ad.alterar_valores(nome, df.columns[10], ja_pagou)
        else:
            novos_valores = [nome, nmr, turma, grupamento, quer_camisa, quer_short]
            ad = tratar_dados(self.df)
            ad.alterar_valores(nome, df.columns[4], quer_camisa)
            ad.alterar_valores(nome, df.columns[5], quer_short)

In [4]:
# tratar_dados(dataframe).alterar_valores_gui()
tratar_dados(dataframe).alterar_valores_gui()

Qual é o nome do alunoBarros
Qual é o número do aluno?5480
Qual é a turma do aluno?101
Qual é o grupamento do aluno?A
O aluno quer camisa? s/ns
Que nome deverá ser impresso na camisa?Babos
Tamanhos: G - M - P
Insira o tamanho da camisa: M
Qual é o número da camisa deste aluno?24
O aluno quer short? s/ns
Tamanhos: G - M - P
Insira o tamanho do short: M
O aluno já pagou? s/ns

/tmp/ipykernel_6579/1595468227.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[nome_da_coluna][i] = novo_valor

In [5]:
dataframe

,Alunos,Número,Turma,Grupamento,Vai querer camisa?,Vai querer short?,Tamanho da camisa,Tamanho do short,Número da camisa,Nome na camisa,Pago
0,Heloísa Espínola,5873,101,A,Sim,Sim,P,P,17,Heloísa,Não
1,Vitório,6143,101,A,Sim,Não,P,NaN,11,Vitório,Não
2,Steinborn,6259,101,A,NaN,NaN,NaN,NaN,NaN,NaN,Não
3,Barros,5480,101,A,Sim,Sim,M,M,24,Babos,Sim
4,Laura,5836,101,A,NaN,NaN,NaN,NaN,NaN,NaN,Não
...,...,...,...,...,...,...,...,...,...,...,...
143,Gustavo,5481,105,B,NaN,NaN,NaN,NaN,NaN,NaN,Não
144,Mayson,6532,105,B,Sim,Sim,NaN,NaN,NaN,NaN,Não
145,Laura Travassos,6559,105,B,NaN,NaN,NaN,NaN,NaN,NaN,Não
146,Guilherme Carvalho,6573,105,B,NaN,NaN,NaN,NaN,NaN,NaN,Não
147,Kenji,5453,106,C,NaN,NaN,G,NaN,666,NaN,Não